body{
  background: url('../img/NYT_BG.png');
  font-family: 'Noto Serif', Helvetica, serif;
}

.panelTitle{
  background-color: #283593;
  color: white;
}

.panel {
  height: 500px;
}

.btn {
  background-color: #283593;
}

.waves-effect .waves-light {
  background-color: #3f51b5;
}